.App {
  text-align: center;
}

.App-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}

.App-navbar{
  background-color: #81bde0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
}

.App-navbar a{
  color: rgb(255, 255, 255);
  padding-left: 2rem;
  text-decoration: none;
}

.App-form{
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40vw;
}

.App-table{
  display: flex;
  color: #3e3f3f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
